@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

h1{
    font-size: 3rem;
}

header{
    background-image: url('../images/shutterstock_348320018@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    color: white;
}

nav{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    height: 50px;
    line-height: 50px;
}
nav ul{
    float: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
#btn{
    background-color:#088;
    margin-left: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
}

header #header-content{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    color: red;
    font-size: 4rem;
}

#header-content #logodiv{
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbars{
    display: inline-flex;
    gap: 30px;
}

.container{
    display: inline-flex;
    flex: 1 1 auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
}
#citysearchbox{
    width: 300px;
    padding: 0 20px;
    font-size: 20px;
}
.container img{
    background-color: white;
}
.icon{
    padding:0.8rem;
}
.searchBox{
    border: 0;
    flex: 1;
    width: 400px;
    font-size: 20px;
    padding: 0 10px;
}

main{
    width: 80%;
    margin: 50px auto;
}
h2{
    font-size: 2rem;
    color: blue;
    font-weight: 900;
}
p{
    margin:10px 0;
    font-size: 1.2rem;
    color: grey;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 50px;
    grid-template-rows: repeat(2,150px);
}
.card-img{
    width: 50%;
}
.card{
    display: flex;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: 5px 5px lightgray;
}
.card-content{
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3{
    color: blue;
    font-size: 1.4rem;
    font-weight: 900;
}
.card-content p{
    font-size: 1rem;
}

.card:hover{
    transform: scale(1.05);
}
